## This is the Data Cleaning Notebook

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('nba_salary.csv')

In [4]:
df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Salary
0,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,0.544,...,73,135,208,29,20,28,43,91,304,"$2,582,160"
1,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,...,0,3,3,2,0,0,0,1,2,"$449,115"
2,Steven Adams,C,27,NOP,58,58,1605,189,308,0.614,...,213,301,514,111,54,38,78,113,438,"$29,592,695"
3,Bam Adebayo,C,23,MIA,64,64,2143,456,800,0.570,...,142,431,573,346,75,66,169,145,1197,"$5,115,492"
4,LaMarcus Aldridge,C,35,TOT,26,23,674,140,296,0.473,...,19,99,118,49,11,29,27,47,352,"$17,628,340"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,Delon Wright,PG,28,SAC,27,8,696,104,225,0.462,...,28,77,105,97,43,11,35,30,271,"$9,000,000"
701,Thaddeus Young,PF,32,CHI,68,23,1652,370,662,0.559,...,168,255,423,291,74,40,137,152,823,"$13,545,000"
702,Trae Young,PG,22,ATL,63,63,2125,487,1112,0.438,...,38,207,245,594,53,12,261,111,1594,"$6,571,800"
703,Cody Zeller,C,28,CHO,48,21,1005,181,324,0.559,...,119,209,328,86,27,17,51,121,451,"$15,415,730"
704,Ivica Zubac,C,23,LAC,72,33,1609,257,394,0.652,...,189,330,519,90,24,62,81,187,650,"$7,000,000"

In order to do some EDA and model training, I need to do some data cleaning to the dataset. To-Dos are the followings:
- 'Salary' - take out the $ sign 
- 'Pos' - get dummy variables for each position
- 'Player'- maybe get rid of it since we only care how performances affect their salary